/* Removes any external padding or margin by default */
*{
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body{
    background-color: #2d2d2d;
    color: #f4f4f4;
}

/* Putting some limit on the amount of space we can use for the page so the 
content have some white space on the left and right side */
.page-content-container{
    margin: 0 auto;
    max-width: 80rem;
}


.page-title{
    text-align: center;
    font-size: 3rem;
    margin: 40px 0px;
    font-weight: 700;
}

/* This section will store the cards and will dynamically handle the number 
of card shown based on the screen size */
.team-info-container{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
}

/* This is card/container which stores information about the member */
.team-member-info{
    justify-self: stretch;
    width: 300px;
    border-radius: 8px;
    border: 2px solid #424242;
    overflow: hidden;
    background-color: #424242 ;
}


/* Adding some whitespace around member's info section */
.member-about-me{
    background-color: #424242;
    padding: 15px 15px;
}

/* Adding some background behind the member's picture so the space around doesn't look empty */
.member-picture{
    padding: 10px 0px;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(119,16,148,1) 100%);
}

/* Displaying the member's picture with 50% radius and centered on the member's info card */
.member-picture img{
    display: block;
    height: 150px;  
    width: 150px;
    /* width: 100%;   */
    margin: 0 auto;
    object-fit:cover;
    border-radius: 50%;

}

/* Hover effect */
.member-about-me:hover{
    background: #2d2d2d;
}

/* make the member's name stand out */
.member-name{
    font-size: 1.5rem;
    font-weight: 500;
}

/* Ensure the text is centered, used to center member's name and committee role position  */
.text-align-center{
    text-align: center;
}

/* Since h3, h4 are very bold, this class will create remove the boldness to create font-hierarchy*/
.font-weight-normal{
    font-weight: 400;
    padding-bottom: 5px;
}


/* Making it adaptable to small displays */
@media screen and (max-width:1024px){
    .page-content-container{
        margin: 0 2vw;
    }
}
